.promo{
    height: 100vh;
    background: url(../img/main_bg.jpg) 40%/cover no-repeat;
    padding: 206px 0;
    &__title{
        width: 505px;
        margin-top: 10px;
    }
    &__subtitle{
        @include circle;
        position: relative;
        z-index: 2;
        padding-left: 10px;
    }
    &__buttons{
        margin-top: 25px;
    }
    &__btn{
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        padding: 12px 25px;
        color: #000;
        border-radius: 3px;
        transition: all .4s;
        &:hover{
            color:  #000;
            text-decoration: none;
                        
        }
        &_transperent:hover{
            font-size: 16px;
        }
        &_blue{
            background:#1E90FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            transition: all .4s;
            &:hover{
                box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            }
        } 
    }
}