.use{
    padding-top: 130px;
    &__subtitle{
        position: relative;
        text-align: center;
        @include circle; 
        &::before{
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__title{
        text-align: center;
    }
    .divider{
        margin: 25px auto 0;
    }
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 13px;
    }
    &__item{
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid #000000;
        &-title{
            margin-top: 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
        &-descr{
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
        }
    }
    &__rating{
        margin-top: 120px;
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
        column-gap: 45px;
        row-gap: 35px;
        &-item{
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-text{
            position: relative;
            padding: 2px 0 0 13px;

            @include circle;
        }
        &-counter{
            font-size: 14px;
            line-height: 21px;
        }
        &-line{
            width: 350px;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                height: 100%;
                background-color: #1E90FF;
                border-radius: 4px;
            }
        }
    }
}